# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# YOLO training outputs
runs/

# Dataset (optional if very large)
datasets/
data/images/
data/labels/

# Model weights
*.pt

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log